
		<form name = "message" id="message" action="/post" method="post">
			<!-- <input type = "text" name = "user_name"> -->
			<input type = "text" name = "message_text">
			<input type = "submit" name="submit" value="Roar">

		</form> 


