<!-- <!DOCTYPE html>
<html>
	<head>
		<title>Growler</title>
	
	</head>

	<body> -->
		<form name = "message" id="message" action="/post" method="post">
			<input type = "text" name = "user_name">
			<input type = "text" name = "message_text">
			<input type = "submit" value="Submit">

		</form>
<!-- 
		
	</body>
</html> -->