<!DOCTYPE html>
<html>
	<head>
		<title>Growler</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	</head>

	<body>
		<%= yield %>
		#to dislay the header/footer/and style
	</body>
</html>